@import "../helpers/variables";

.button {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 999px;
  padding: 20px 80px;
  font-family: forma-djr-text, sans-serif;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
  &-primary {
    background-color: $black;
    color: $whiteDim;
    font-size: 18px;
    font-weight: 500;
  }
}
