@import "../helpers/colors";

// li {
//   padding: 10px 0;
//   margin: 20px 0;
//   list-style-type: none;
//   display: flex;
// }

.message-list--wrapper {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-list {
  width: 100%;
  padding: 45px 10%;
}

.message-list__item {
  list-style-type: none;

  width: 100%;
  padding: 10px 0;
  margin: 30px 0;
  display: flex;
  align-items: center;
  &--sent {
    @extend .message-list__item;
    flex-direction: row-reverse;
  }
}

.content {
  display: flex;
  align-items: center;
  &--sent {
    @extend .content;
    flex-direction: row-reverse;
  }
}

.content__avatar {
  // width: 120px;
  margin: 0 15px;
}

.content__avatar--img {
  border-radius: 100%;
}

.content__text {
  display: flex;
  flex-direction: column;
}

// .content__text {
//   > span {
//     display: none;
//   }
//   margin: 10px 0;
// }

.content__text--name {
  font-family: forma-djr-micro, sans-serif;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
}

.content__text--message {
  grid-column: 2;
  grid-row: 2;
}
