@import "../helpers/variables";

#chatroom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroom__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100%;
  // column-gap: min(2.5%, 30px);
  justify-content: center;
}
