@import "../helpers/colors";

.hero {
  height: 100%;
  display: grid;
  grid-template-columns: 140px 5fr;
  grid-template-rows: 5fr;
  gap: 0;
  grid-auto-columns: 6fr;
  grid-auto-rows: 4fr;
  grid-auto-flow: column;
  @include media("<=tablet") {
    grid-auto-flow: row;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-left: -140px;
  margin-bottom: -65px;
  @include media("<=tablet") {
    padding: 0 20px;
    margin-bottom: -100px;
  }
}

.hero__content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content--button {
  // reset
  cursor: pointer;
  display: inline-block;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;

  border-radius: 999px;
  margin: 60px 0 0;
  padding: 25px 120px;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
  @include media("<=desktop") {
    font-size: 17px;
    padding: 20px 80px;
  }
  @include media("<=tablet") {
    margin: 20px 0;
    padding: 20px 60px;
    font-size: 16px;
  }
  @include media("<=phone") {
    padding: 15px 35px;
    font-size: 13px;
  }
}

.hero__image {
  display: block;
  position: relative;
  @include media("<=tablet") {
    grid-column: 1 / 3;
  }
}
