@import "../helpers/breakpoints";

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  @include media("<=phone") {
    font-size: 14px;
  }
}
